name: Deploy Quartz site to GitHub Pages
 
on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write
 
concurrency:
  group: "pages"
  cancel-in-progress: false
 
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Install Nightfox Theme
        run: |
          mkdir quartz/styles/themes
          curl -o quartz/styles/themes/_index.scss https://raw.githubusercontent.com/saberzero1/quartz-themes/refs/heads/master/themes/nightfox/_index.scss
          echo '@use "themes";' >> quartz/styles/custom.scss
      - name: Install Custom Styles
        run: |
          cp assets/nth-loop-favicon.png quartz/static/icon.png
          cp assets/nth-loop-fractal-tree.png quartz/static/
          cp assets/styles/titlelogo.scss quartz/styles/titlelogo.scss
          echo '@use "./titlelogo.scss";' >> quartz/styles/custom.scss
      - name: Copy Configuration
        run: cp quartz.config.ts external/quartz/quartz.config.ts
      - name: Build Quartz
        run: npx quartz build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public
 
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
